.headline-grid {
    display: flex;
    flex-direction: column;
    background-image: url(img/hero-image.png);
    min-height: 15em;
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;;
    background-color: #557153;
}