@font-face {
    font-family: MinionPro;
    src: url(/font/MinionPro-Semibold.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat;
    /* background-color: rgb(248, 229, 207); */
}

a {
    text-decoration: none;
    color: inherit;
}

header li a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

header {
    background-color: #3e583a;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 3%;
    padding-right: 3%;
}

header img {
    background: none;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 90px;
    top: 20px;
}

.navbar {
    background: none;
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

#signup {
    color: #2b2b2b;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #E6E5A3;
    border: none;
}

.headline-grid-header {
    margin-right: 50%;
}

.headline-grid-header p {
    color: white;
    text-align: left;
    line-height: auto;
    font-size: 56px;
    margin-bottom: 10px;
    font-family: MinionPro;
}

.headline-grid-header button {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #E6E5A3;
    border: none;
}

.headline-grid-header button a {
    text-decoration: none;
    color: black;
}

.selling-point {
    padding-top: 5%;
    padding-bottom: 5%;
}

.selling-point-h1 {
    font-size: 24px;
    padding-bottom: 50px;
    padding-left: 50px;
}
.review {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8% 0 8%;
    gap: 56px;
}

.review-specialty-grid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: none;
    border-style: groove;
    border-color: darkgreen;
    border-radius: 25px;
    width: 32em;
    height: 16em;
    text-align: center;
}


.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #154732;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 64px;
}

.contact-contact-h1 {
    color: white;
    font-size: small;
    text-align: center;
}

.contact img{
    width: 4%;
}

.contact-icon {
    margin-top: 0.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-large;
}

#github {
    text-decoration: none;
}

.head-store h1 {
    padding-top: 3%;
    padding-left: 57px;
}

.catalogue {
    padding: 8% 8% 8% 8%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 64px;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
}

.catalogue-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 1%;
    background-color: #557153;
    text-align: center;
    border-radius: 35px;
}

.catalogue-1 h1{
    color: #E6E5A3;
}

.catalogue-1 img {
    width: 200px;
    height: 180px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.catalogue-1 button {
    border-radius: 25px;
    background-color: #E6E5A3;
    margin-bottom: 15px;
    border: none;
    padding: 4% 16%;
}

.catalogue-1 a {
    text-decoration: none;
    color: black;
}

.confirmation h1 {
    padding-top: 3%;
    padding-left: 57px;
}
.confirmation h1 {
    padding-top: 3%;
    padding-left: 57px;
}

.confirmation-text-box {
    margin-left: 5%;
    margin-top: 1%;
}


.confirmation-item {
    margin-bottom: 2%;
    margin-top: 2%;
}

.confirmation-item select{
    margin-top: 8px;
    background: #E6E5A3;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    opacity: 0.5;
}

.confirmation-name input {
    margin-top: 8px;
    background: #E6E5A3;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    opacity: 0.5;
}

.confirmation-address {
    margin-bottom: 2%;
    margin-top: 2%;
}

.confirmation-address input {
    margin-top: 8px;
    background: #E6E5A3;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    opacity: 0.5;
}

.confirmation-postalcode {
    margin-bottom: 2%;
    margin-top: 2%;
}

.confirmation-postalcode input {
    margin-top: 8px;
    background: #E6E5A3;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    opacity: 0.5;
}

.confirmation-phone {
    margin-bottom: 2%;
    margin-top: 2%;
}

.confirmation-phone input {
    margin-top: 8px;
    background: #E6E5A3;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    opacity: 0.5;
}

.confirmation-quantity {
    margin-bottom: 2%;
    margin-top: 2%;
}

.confirmation-quantity input {
    margin-top: 8px;
    background: #E6E5A3;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    opacity: 0.5;
}

.confirmation-courier {
    margin-top: 2%;
}

.confirmation-courier select {
    margin-top: 8px;
    background: #E6E5A3;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    opacity: 0.5;
}

.confirmation-submit button {
    margin-top: 15px;
    font-size: 14px;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #A9AF7E;
    border: none;
}

.confirmation-submit a{
    text-decoration: none;
    color: white;
}




.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.profile a{
    text-decoration: none;
    color: white;
}

.profile-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px 64px;
    background-color: #557153;
    border-radius: 32px;
}
.profile-login h3{
    text-align: center;
    color: white;  
    font-size: 32px;
    margin-bottom: 1em;
    /* border-bottom: 3px solid whitesmoke; */
}

.profile-login p{
    text-align: center;
    color: white;  
    font-size: 18px; 
    /* border-bottom: 3px solid whitesmoke; */
}

.profile-login input{
    background: none;
    color: white;
    border: none;
    border-radius: 3px;
}

.profile-login ::placeholder{
    color: white;
}

.profile-login i{
    color: white;
    margin-left: 3%;
    margin-top: 5%;
}

.profile-login p{
    color: white;
    font-size: 12px;
}

.profile-register{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;
    background-color: #557153;
    border-radius: 32px;
}
.profile-register h2{
    text-align: center;
    color: white;  
    margin-bottom: 5%;
    /* border-bottom: 3px solid whitesmoke; */
}

.profile-register input{
    margin: 10px;
    background: none;
    color: white;
    border: none;
}

.profile-register ::placeholder{
    color: white;
}

.profile-register i{
    color: white;
}

.profile-register p{
    margin-top: 5%;
    color: white;
    font-size: 12px;
}

#profile-username {
    margin-top: 2em;
    font-size: 1em;
}

.profile-button {
    margin-top: 3em;
}
.profile-button button{
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #A9AF7E;
    border: none;
}

.profile-button a{
    text-decoration: none;
    color: white;
}
