* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
    /* background-color: rgb(248, 229, 207); */
}

header li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

header {
    background-color: rgb(47, 166, 47);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 3%;
    padding-right: 3%;
}

header img {
    background: none;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 90px;
    top: 20px;
}

.navbar {
    background: none;
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.headline-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 70% auto;
    grid-template-rows: 85% 100px;
    gap: 10px;
    background-color: rgb(47, 166, 47);
}

.headline-grid-header p {
    color: white;
    margin-left: 5%;
    text-align: left;
    line-height: auto;
    font-size: 64px;
    margin-bottom: 10px;
}

.headline-grid-header button {
    font-size: 18px;
    margin-left: 23%;
    padding: 10px 15px;
    border-radius: 50px;
    border-color: none;
}

.headline-grid-header button a {
    text-decoration: none;
    color: black;
}

.headline-grid img {
    justify-content: right;
    border-radius: 15px 50px 30px;
    width: 400px;
    height: 550px;
}

.selling-point {
    padding-top: 5%;
}

.selling-point-h1 {
    font-size: 24px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.review {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    gap: 50px;
}

.review-specialty-grid1 {
    background-color: none;
    border-style: groove;
    border-color: darkgreen;
    border-radius: 25px;
    text-align: center;
}

.review-specialty-grid2 {
    border-style: groove;
    border-color: darkgreen;
    text-align: center;
    border-radius: 25px;
}

.review-specialty-grid3 {
    border-style: groove;
    border-color: darkgreen;
    text-align: center;
    border-radius: 25px;
}


.contact {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #154732;
}

.contact-contact-h1 {
    color: white;
    /* font-size: 24px; */
    padding-bottom: 50px;
    padding-left: 50px;
}

.contact-contact-h1 {
    color: white;
    /* font-size: 24px; */
    padding-bottom: 50px;
    padding-left: 50px;
}

.contact-logo-h1 {
    color: white;
    /* font-size: 24px; */
    padding-bottom: 50px;
    padding-left: 50px;
}

.contact-faq-h1 {
    color: white;
    /* font-size: 24px; */
    padding-bottom: 50px;
    padding-left: 50px;
}


.head-store h1 {
    padding-top: 3%;
    padding-left: 57px;
}

.catalogue {
    padding: 8% 11% 11% 11%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 15% 15% 15% 15%;
    gap: 75px;
}

.catalogue-1 {
    border-style: groove;
    border-color: darkgreen;
    text-align: center;
    border-radius: 35px;
}

.catalogue-1 button {
    padding: 5px 10px;
    border-radius: 25px;
}

.catalogue-2 {
    border-style: groove;
    border-color: darkgreen;
    text-align: center;
    border-radius: 35px;
}

.catalogue-2 button {
    padding: 5px 10px;
    border-radius: 25px;
}

.catalogue-3 {
    border-style: groove;
    border-color: darkgreen;
    text-align: center;
    border-radius: 35px;
}

.catalogue-3 button {
    padding: 5px 10px;
    border-radius: 25px;
}


.catalogue-4 {
    border-style: groove;
    border-color: darkgreen;
    text-align: center;
    border-radius: 35px;
}


.catalogue-4 button {
    padding: 5px 10px;
    border-radius: 25px;
}
